.home-route {
  background #E8EAEF;
  height: 100vh;
  position relative;

  .search-container {
    max-width 600px;
    width 100%;
    padding 0 30px;
    margin: 0 auto;
    padding-top 100px;

    .logo {
      text-align center;
    }

    .search-wrapper {
      background white;
      margin-top: 40px;
      border-radius 7px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      .result-item-wrapper {
        width 100%;
        position relative;
        padding-left 30px;

        .avatar {
          width 20px;
          height 20px;
          position absolute;
          top: 50%;
          transform translate(0, -50%);
          border-radius 7px;
          left 0;
        }
      }
    }
  }
}
